<?xml version="1.0" encoding="UTF-8"?>
<themes>
    <images file="menu.png" filter="nearest">
        <area xywh="5,32,20,20" name="mi-tab1.default" />
        <area xywh="5,6,20,20" name="mi-tab1.selected" />

        <area xywh="31,32,20,20" name="mi-tab2.default" />
        <area xywh="31,6,20,20" name="mi-tab2.selected" />

        <area xywh="56,32,20,20" name="mi-tab3.default" />
        <area xywh="56,6,20,20" name="mi-tab3.selected" />

        <area xywh="85,32,20,20" name="mi-tab4.default" />
        <area xywh="85,6,20,20" name="mi-tab4.selected" />

        <area xywh="112,6,20,20" name="mi-tab5.selected" />
        <area xywh="112,32,20,20" name="mi-tab5.default" />

        <area xywh="138,6,20,20" name="mi-tab6.selected" />
        <area xywh="138,32,20,20" name="mi-tab6.default" />

        <area xywh="158,6,20,20" name="mi-tab7.selected" />
        <area xywh="158,32,20,20" name="mi-tab7.default" />

        <area xywh="178,6,20,20" name="mi-tab8.selected" />
        <area xywh="178,32,20,20" name="mi-tab8.default" />

        <area xywh="199,6,20,20" name="mi-tab9.selected" />
        <area xywh="199,32,20,20" name="mi-tab9.default" />


        <select name="mi-skill-use.background">
            <alias if="selected | hover" ref="mi-skill-use-selected" />
            <alias ref="mi-skill-use" />
        </select>

        <select name="mi-tab1.background">
            <alias if="selected | hover" ref="mi-tab1.selected" />
            <alias ref="mi-tab1.default" />
        </select>

        <select name="mi-tab2.background">
            <alias if="selected | hover" ref="mi-tab2.selected" />
            <alias ref="mi-tab2.default" />
        </select>

        <select name="mi-tab3.background">
            <alias if="selected | hover" ref="mi-tab3.selected" />
            <alias ref="mi-tab3.default" />
        </select>

        <select name="mi-tab4.background">
            <alias if="selected | hover" ref="mi-tab4.selected" />
            <alias ref="mi-tab4.default" />
        </select>

        <select name="mi-tab5.background">
            <alias if="selected | hover" ref="mi-tab5.selected" />
            <alias ref="mi-tab5.default" />
        </select>

        <select name="mi-tab6.background">
            <alias if="selected | hover" ref="mi-tab6.selected" />
            <alias ref="mi-tab6.default" />
        </select>

        <select name="mi-tab7.background">
            <alias if="selected | hover" ref="mi-tab7.selected" />
            <alias ref="mi-tab7.default" />
        </select>

        <select name="mi-tab8.background">
            <alias if="selected | hover" ref="mi-tab8.selected" />
            <alias ref="mi-tab8.default" />
        </select>

        <select name="mi-tab9.background">
            <alias if="selected | hover" ref="mi-tab9.selected" />
            <alias ref="mi-tab9.default" />
        </select>
    </images>

    <theme ref="monster-frame-tab" name="monster-frame-tab-info" overwrite="true">
        <param name="">
            <image>mi-tab1.*</image>
        </param>
    </theme>

    <theme ref="monster-frame-tab" name="monster-frame-tab-attack" overwrite="true">
        <param name="">
            <image>mi-tab4.*</image>
        </param>
    </theme>

    <theme ref="monster-frame-tab" name="monster-frame-tab-stats" overwrite="true">
        <param name="">
            <image>mi-tab5.*</image>
        </param>
    </theme>

    <theme ref="monster-frame-tab" name="monster-frame-tab-history" overwrite="true">
        <param name="">
            <image>mi-tab2.*</image>
        </param>
    </theme>

    <theme ref="monster-frame-tab" name="monster-frame-tab-stats2" overwrite="true">
        <param name="">
            <image>mi-tab3.*</image>
        </param>
    </theme>

    <theme ref="monster-frame-tab" name="monster-frame-tab-stats3" overwrite="true">
        <param name="">
            <image>mi-tab6.*</image>
        </param>
    </theme>

    <theme ref="monster-frame-tab" name="monster-frame-tab-ribbons" overwrite="true">
        <param name="">
            <image>mi-tab7.*</image>
        </param>
    </theme>

    <theme ref="monster-frame-tab" name="monster-frame-tab-stats4" overwrite="true">
        <param name="">
            <image>mi-tab8.*</image>
        </param>
    </theme>

    <theme ref="monster-frame-tab" name="monster-frame-tab-particles" overwrite="true">
        <param name="">
            <image>mi-tab9.*</image>
        </param>
    </theme>
</themes>